@charset "UTF-8";


@media screen and (min-width: 376px) and (max-width: 3000px){
    main{
        width: 600px;
        height: 400px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50px;
        box-shadow: 0px 0px 10px 10px hsla(241, 81%, 54%, 0.100);
    }

    main > section.resultado{
        display: block;
        border-radius: 30px;
        width: 285px;
        height: 400px;        
    }

    section.resultado > div{
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    section.resultado > div > h1{
        padding-top: 35px;
        font-size: 3em;
        
    }

    section.resultado > p.p1{
        margin: 5px 0px;
        font-size: 1em;
        color: rgba(208, 208, 215, 0.852);
        font-weight: bolder;
    }

    section.resultado > p.p2{
        margin-top: 8px;
        padding: 8px 25px;
        font-size: 0.9em;
        color: rgba(208, 208, 215, 0.852);
        font-weight: bolder;
    }

    section.resultado > h2{
        margin: 10px 0px;
        font-size: 1.5em;
    }

    h3{
        padding-left: 18px;
    }


    main > section.conteudo{
        position: fixed;
        top: 0%;
        left: 50%;
    }

    table{
        width: 250px;
        position: absolute;
        left: 15%;
    }
    td.campo{
        height: 45px;
        
    }

    a.botao{
        position: fixed;
        left: 53%;
        top: 75%;
        width: 250px; 
        height: 50px; 
        line-height: 50px;
    }

    a.botao:hover{
        background-color: hsla(256, 72%, 46%, 1);
        cursor: pointer;
    }


    
}




